<!DOCTYPE html>
<html lang="en" ng-app="app"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Smart News Application</title>
    <link href="bootstrap-ios/bootstrap.min.css" rel="stylesheet">
    <link href="jquery-ui-1.11.3/jquery-ui.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" >
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SmartNews</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>

    <div class="container" ng-controller="ArticleCtrl as articles">
        <div class="bs-docs-section clearfix">
            <div id="wrapper" class="row">
                <div class="col-lg-12">
                    <ul class="article-list">
                        <li>
                            <h3><i class="fa fa-newspaper-o"></i> Nouveaux articles</h3>
                        </li>
                        <li id="{{key}}" class="slidable" ng-repeat="(key, article) in articles.data">
                            <div class="title"><strong>{{article.title}}</strong></div>
                            <div class="summary">{{article.summary}}</div>
                        </li>
                    </ul>
                    <ul class="full-articles">
                        <li id="article{{key}}" class="article" ng-repeat="(key, article) in articles.data">
                            <h1>{{article.title}}</h1>
                            <span class="label label-primary" ng-repeat="tag in article.tags">{{tag}}</span>
                            <div class="content">{{article.content}}</div>
                        </li>
                    </ul>
                    <ul class="favourite-articles">
                        <li >
                            <h3><i class="fa fa-star"></i> Articles favoris</h3>
                        </li>
                        <li id="favourite{{key}}" article-number="{{key}}" class="slidable favourite-article" ng-repeat="(key, article) in articles.data">
                            <div class="title"><strong>{{article.title}}</strong></div>
                            <div class="summary">{{article.summary}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="col-xs-12 navbar-default navbar-fixed-bottom">
            <div class="row" id="bottomNav">
                <div class="col-xs-4 text-center"><a href="#"><i id="back-button" class="fa fa-chevron-left"></i></a></div>
                <div class="col-xs-4 text-center"><a href="#"><i id="home-button" class="fa fa-home"></i></a></div>
                <div class="col-xs-4 text-center"><a href="#"><i id="favourite-button" class="fa fa-star"></i></a></div>
            </div>
        </div>
    </div>

    <script src="jquery/jquery-1.11.2.min.js"></script>
    <script src="bootstrap-ios/bootstrap.min.js"></script>
    <script src="jquery-ui-1.11.3/jquery-ui.min.js"></script>
    <script src="hammerjs/hammer.min.js"></script>
    <script src="jquery.hammer/jquery.hammer.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>


